**/.git/
**/.gitignore

/.dockerignore
/docker-compose.yaml
/Dockerfile

/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/.phpunit.result.cache
/phpunit.xml

/tags
/coverage/
/migrations/

/node_modules/
/npm-debug.log
/yarn-error.log
