{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ title }}</p>
    {# comment me #}
    <ul>
    {% for track in tracks %}
        <li>{{ track.song }} {{ track.artist}} </li>
    {% endfor %}
{% endblock %}
